* {
  margin: 0;
  padding: 0;
}

.pulsate {
  @an: bounce 3s ease-in 10s infinite;
  -webkit-animation: @an;
  -moz-animation: @an;
  -o-animation: @an;
  animation: @an;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

@anAmt: 20px;
@-webkit-keyframes bounce {
  0% { bottom: 0; font-size: 1em; }
  10% { bottom: 0; font-size: 1.1em; }
  20% { bottom: -(@anAmt / 2); font-size: 1em;}
  25% { bottom: @anAmt / 3; }
  30% { bottom: -(@anAmt / 4); }
  35% { bottom: @anAmt / 5; }
  40% { bottom: 0; }
}
@-moz-keyframes bounce {
  0% { bottom: 0; font-size: 1em; }
  10% { bottom: 0; font-size: 1.1em; }
  20% { bottom: -(@anAmt / 2); font-size: 1em;}
  25% { bottom: @anAmt / 3; }
  30% { bottom: -(@anAmt / 4); }
  35% { bottom: @anAmt / 5; }
  40% { bottom: 0; }
}
@-o-keyframes bounce {
  0% { bottom: 0; font-size: 1em; }
  10% { bottom: 0; font-size: 1.1em; }
  20% { bottom: -(@anAmt / 2); font-size: 1em;}
  25% { bottom: @anAmt / 3; }
  30% { bottom: -(@anAmt / 4); }
  35% { bottom: @anAmt / 5; }
  40% { bottom: 0; }
}
@keyframes bounce {
  0% { bottom: 0; font-size: 1em; }
  10% { bottom: 0; font-size: 1.1em; }
  20% { bottom: -(@anAmt / 2); font-size: 1em;}
  25% { bottom: @anAmt / 3; }
  30% { bottom: -(@anAmt / 4); }
  35% { bottom: @anAmt / 5; }
  40% { bottom: 0; }
}

.form_group {
  height: 1.5em;
  float: left;
  margin-bottom: 1rem;
  position: relative;


  label {
    color: orange;
    font-size: 1em;
    font-weight: 600;
    position: absolute;
    left: 2%;
    top: 0;
    z-index: 1;
    transition: left .5s, top .5s, font-size .5s linear;

    &.focused {
      left: 70%;
      font-size: .7em;

      &.down {
        font-size: 1em;
        left: 2%;
        top: 1.5em;
      }
    }
  }

  input {
    background-color: black;
    border: 1px solid white;
    border-radius: 25px;
    box-sizing: border-box;
    color: #ddd;
    padding-left: 25%;
    padding-right: 5%;
    padding-top: 0;
    position: absolute;
    left: 0;
    min-width: 100%;
    max-width: 100%;
    text-align: right;
    transition: background-color .2s, color .2s, padding-left .2s, border .2s, padding-right .2s, padding-top .2s, font-size .2s linear;

    &.focused {
      background-color: #fff;
      border: none;
      border-bottom: 5px solid orange;
      border-left: 5px solid orange;
      color: black;
      padding-left: 25px;
      padding-right: 25%;
      text-align: left;
    }

    &:active, &:focus {
      outline: none;
    }

  }

  &.down input {
    padding-left: 25px;
    padding-top: 1.5em;

    &.focused {
      padding-top: 0;
    }
  }
}
