.welcome {
  background-color: white;
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif !important;

  .main {
    box-sizing: content-box;
    text-align: center;

    .header {
      background-color: #a7dddc;
      color: white;
      font-size: 150px;
      height: 100%;
      max-height: 1200px;
      overflow: hidden;
      padding: 10% 0 0px 0;
      text-shadow: 10px 0px 0px black;
      transition: height .1s, padding .1s;

      .action {
        color: blue;
        font-size: 100px;
        padding: 50px 0px;
        text-shadow: none;
        .start {
          display: inline;
          width: 50%;
          max-width: 250px;
          transition: display .1s linear;
        }
      }

      .logo {
        max-width: 750px;
        transition: width .1s;
      }

      .next {
        float: right;
        font-size: 75px;
        margin-right: 25px;
        margin-top: 25px;
        visibility: hidden;
      }


      &.pos-2 {
        .next {
          visibility: visible;
        }
      }

      &.pos-1, &.pos-2, &.pos-3 {
        height: 280px;
        padding: 0;
        text-align: left;

        .action {
          .start {
            display: none;
          }
        }

        .logo {
          padding-top: 50px;
          vertical-align: top;
          width: 50%;
        }

      }

      &.pos-2, &.pos-3 {
        height: 150px;

        .logo {
          padding-top: 30px;
          width: 25%;
        }
      }

    }

    .builder {
      background-color: #0ad;
      font-size: 65px;
      font-variant: small-caps;
      font-weight: 500;
      height: 0;
      overflow: hidden;
      padding: 0;
      position: relative;
      transition: height .1s, padding .1s;

      &.pos-1 {
        .next {
          height: 1.5em;
          left: 30%;
        }
      }

      &.pos-1, &.pos-2, &.pos-3 {
        height: 1150px;
        padding: 300px 100px 0 100px;
      }

      &.pos-2, &.pos-3 {
        font-size: 3rem;
        height: 225px;
        padding: 20px 20px 0 20px;

        .form_group {
          width: 50%;

        }

      }

      .form_group {
        width: 100%;
      }

      .next {
        height: 0;
        font-size: 65px;
        font-variant: small-caps;
        font-weight: 500;
        overflow: hidden;
        position: absolute;
        bottom: 20%;
        left: -1500px;
        min-width: 35%;

        transition: height .5s, left .2s;
      }
    }

    .ingredient {
      background-color: #7d76e4;
      bottom: 0;
      box-sizing: border-box;
      font-size: 65px;
      font-variant: small-caps;
      font-weight: 500;
      height: 0;
      overflow: hidden;
      padding: 0;
      position: relative;
      transition: height .1s, padding .1s;

      &.pos-2, &.pos-3 {
        height: 1250px;
        padding: 20px;
        .add {
          height: 1.5em;
          left: 30%;
        }
      }

      &.pos-2 {
        .ingredient_form {
          height: 7.5em;
        }
      }

      &.pos-3 {
        height: 500px;
        .ingredients {
          bottom: 5%;
          top: 5%;
        }
      }

      .add {
        height: 0;
        font-size: 65px;
        font-variant: small-caps;
        font-weight: 500;
        overflow: hidden;
        position: absolute;
        bottom: 1em;
        left: -1500px;
        min-width: 35%;

        transition: height .5s, left .2s;
      }

      .form_group {
        width: 100%;
        z-index: 1;
      }

      .ingredient_form {
        height: 0;
        overflow: hidden;
        transition: height .2s;
      }

      .ingredients {
        line-height: 3rem;
        background: white;
        position: absolute;
        bottom: 2.5em;
        top: 8em;
        left: 4%;
        right: 4%;
        overflow: scroll;
        text-align: left;
        transition: top .2s;
        .repeater {
          display: inline-block;
          box-sizing: border-box;
          font-size: 3rem;
          line-height: 3rem;
          height: 4rem;
          overflow: hidden;
          text-align: left;
          vertical-align: middle;
          width: 100%;

          span {
            box-sizing: border-box;
            display: inline-block;
            margin: none;
            padding: 5px;
            position: relative;
          }

          .quantity {
            font-size: 2.5rem;
            text-align: left;
            width: 30%;
          }

          .name {
            padding-left: 5px;
            padding-right: 5px;
            text-align: left;
          }

          .method {
            float: right;
            text-align: right;
          }
        }
      }
    }


    .message {
      background-color: #fff;
      box-sizing: border-box;
      font-size: 65px;
      font-weight: 500;
      height: 0px;
      padding: 0;
      overflow: hidden;
      transition: height .05s linear;

      &.pos-0 {
        height: 200px;
        padding: 25px 100px;
      }

    }

    .about {
      background-color: black;
      color: white;
      font-weight: 500;
      font-size: 60px;
      letter-spacing: 6px;
      padding-top: 50px;
      padding-bottom: 50px;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

}
